@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-self: center;
  max-width: 1280px;
  height: 72px;
}

.logo{
  margin: 15px 15px 0 0;
}

.nav-list{
  display: flex;
  gap: 24px;
  max-width: 333px;
  height: 24px;
  margin: 24px 24px 0 0;
}

.nav-list li{
  list-style: none;
}

.nav-list li a{
  text-decoration: none;
  color: #2E2E2E;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.login-btn{
  background: #D01C28;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 31px;
  width: 75px;
  padding: 6px 16px;
  margin-top: 20px;
  margin-bottom: 21px;
  border: 0;
}

.frames{
  display: flex;
  max-width: 1125px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  align-items: center;
  /* height: calc(100vh-72px); */
}

.frame1{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.punchline{
  font-family: 'Poppins';
  font-size: 100px;
  font-weight: 800;
  line-height: 102px;
}

.line{
  color: #5A5959;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
}

.buttons{
  display: flex;
  gap: 40px;

}

.shop{
  background: #D01C28;
  padding: 6px 16px;
  color: #FFF;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  border: 0;
}

.category{
  background-color: transparent;
  color: #5A5959;
  border: 1px solid black;
  padding: 6px 16px;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
}

.outlets{
  font-family: 'Inter';
  font-size: 16px;
  color: #5A5959;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.images{
  display: flex;
  gap: 16px;
}

.frame2 img{
  width: 530px;
  height: 487.062px;
}